.wishlist-header {
  margin-top: 4rem;
  text-align: center;
}

.wishlist-title {
  font-size: 4.8rem;
}

.wishlist-body {
  margin-top: 6rem;
}

.wishlist-product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

@media (max-width: 991px) {
  .wishlist-product-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }
}

.wishlist-product-item:not(:last-child) {
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.6);
}

.wishlist-product-detail > *:not(:last-child) {
  display: block;
  margin-bottom: 0.8rem;
}

.wishlist-product-img {
  height: 28rem;
  width: 32rem;
  object-fit: cover;
}

@media (max-width: 991px) {
  .wishlist-product-img {
    height: 32rem;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .wishlist-product-img {
    height: 24rem;
  }
}

.wishlist-product-detail {
  flex: 1;
}

.wishlist-product-title {
  font-size: 3.2rem;
}

.wishlist-btn-group.btn-group {
  flex-direction: column;
  margin-top: 0;
}

@media (max-width: 575px) {
  .wishlist-btn-group.btn-group,
  .wishlist-btn-group.btn-group button {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .wishlist-btn-group.btn-group {
    flex-direction: row;
  }
}
