.wishlist-container {
  position: absolute;
  top: 100%;
  right: 0;
  width: 40rem;
  background-color: #fff;
  padding: 2.4rem;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 14px 3px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transition: 0.45s;
  z-index: 100;
}

@media (max-width: 575px) {
  .wishlist-container {
    width: calc(32rem);
  }
}

.wishlist-container.active {
  top: calc(100% + 1.6rem);
  opacity: 1;
  visibility: visible;
}

.wishlist-item {
  display: flex;
  gap: 1.6rem;
}

.wishlist-item {
  margin-bottom: 2.4rem;
}

.wishlist-item img {
  height: 8rem;
  width: 12rem;
  object-fit: cover;
}

.wishlist-detail {
  width: calc(100% - 12rem);
}

.wishlist-item-title {
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
}

.wishlist-container .secondary-btn {
  position: relative;
  left: 50%;
  translate: -50% 0;
  margin-top: 0.8rem;
  color: #fff;
}

.wishlist-container .secondary-btn:hover,
.wishlist-container .secondary-btn:hover {
  color: #fff;
}
