.singleProduct-loader-container {
  display: flex;
  gap: 8rem;
  margin-top: 8rem;
}

@media (max-width: 991px) {
  .singleProduct-loader-container {
    flex-wrap: wrap;
    margin-top: 4rem;
  }
}

.singleProduct-loader-left {
  width: 45%;
  display: flex;
  gap: 3.2rem;
}

@media (max-width: 991px) {
  .singleProduct-loader-left {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.singleProduct-loader-left > div:last-child {
  height: 60rem;
  width: 100%;
}

@media (max-width: 1024px) {
  .singleProduct-loader-left > div:last-child {
    height: 48rem;
  }
}

@media (max-width: 991px) {
  .singleProduct-loader-left > div:last-child {
    height: 40rem;
    max-width: 38rem;
    margin: 0 auto;
  }
}

.loader-left-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@media (max-width: 991px) {
  .loader-left-group {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.loader-left-group div {
  height: 8rem;
  width: 8.8rem;
}

@media (min-width: 576px) and (max-width: 991px) {
  .loader-left-group div {
    height: 10rem;
    width: 12rem;
  }
}

.singleProduct-loader-right {
  width: calc(100% - 45% - 4rem);
}

@media (max-width: 991px) {
  .singleProduct-loader-right {
    width: 100%;
  }
}

.singleProduct-loader-right div:first-child {
  height: 5.2rem;
  width: 80%;
  margin-bottom: 1rem;
}

.singleProduct-loader-right div:nth-child(2) {
  height: 2.4rem;
  width: 8rem;
  margin-bottom: 1.6rem;
}

.singleProduct-loader-right div:nth-child(3) {
  height: 20rem;
  width: 100%;
}

.singleProduct-loader-right div:nth-child(4) {
  height: 4rem;
  width: 12rem;
  margin-top: 1.2rem;
}

.singleProduct-loader-right div:nth-child(5) {
  height: 4.6rem;
  width: 24rem;
  margin-top: 1.6rem;
}

.singleProduct-loader-right div:nth-child(6) {
  height: 6rem;
  width: 32rem;
  margin-top: 4rem;
}
