.cart-header {
  margin-top: 4rem;
}

@media (max-width: 991px) {
  .cart-header {
    margin-top: 2.8rem;
  }
}

.cart-body {
  display: flex;
  align-items: flex-start;
  gap: 6rem;
  margin-top: 4rem;
}

@media (max-width: 991px) {
  .cart-body {
    flex-direction: column;
    gap: 3.2rem;
  }
}

.cart-body-left {
  width: 70%;
}

.cart-body-right {
  width: 30%;
}

@media (max-width: 991px) {
  .cart-body-left,
  .cart-body-right {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .cart-body-right {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}

.cart-title {
  display: inline-block;
  font-size: 3.5rem;
  border-bottom: 1px solid #000;
}

.cart-product-header,
.cart-product-item,
.cart-product-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .cart-product-item {
    gap: 2.4rem;
  }
}

@media (max-width: 575px) {
  .cart-product-item {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.cart-product-header {
  margin-bottom: 4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #676767;
}

@media (max-width: 767px) {
  .cart-product-header {
    display: none;
  }
}

.cart-product-item {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.cart-product-item:not(:last-child) {
  border-bottom: 1px solid #676767;
}

.cart-product-header > div:first-child,
.cart-product-item > div:first-child {
  width: 60%;
}

@media (max-width: 767px) {
  .cart-product-item > div:first-child {
    width: 100%;
  }
}

.cart-product-header > div:where(:nth-child(2), :nth-child(4)),
.cart-product-item > div:where(:nth-child(2), :nth-child(4)) {
  width: calc((100% - 60% - 10%) / 4);
}

.cart-product-header > div:nth-child(3),
.cart-product-item > div:nth-child(3) {
  width: 10% !important;
}

.cart-product-header > div:last-child,
.cart-product-item > div:last-child {
  width: 2% !important;
}

@media (max-width: 767px) {
  .cart-product-item div:first-child ~ div {
    width: auto !important;
  }

  .cart-product-item > .cart-product-price {
    display: none;
  }
}

.cart-product-header > div:first-child ~ div,
.cart-product-item > div:first-child ~ div {
  text-align: center;
}

.cart-product-detail {
  justify-content: flex-start;
  gap: 1.6rem;
}

.cart-product-detail img {
  height: 9.2rem;
  width: 8rem;
  object-fit: cover;
}

@media (max-width: 767px) {
  .cart-product-detail img {
    width: 12rem;
  }
}

.cart-product-content {
  flex: 1;
}

.cart-product-content .cart-product-price {
  display: block;
  margin-top: 0.6rem;
}

@media (min-width: 768px) {
  .cart-product-content .cart-product-price {
    display: none;
  }
}

.cart-product-quantity {
  display: flex;
}

.cart-product-quantity * {
  flex: 1;
}

@media (max-width: 767px) {
  .cart-product-quantity * {
    width: 3.2rem;
  }
}

.cart-product-quantity button {
  font-size: 18px;
  cursor: pointer;
}

.cart-product-total-price {
  word-wrap: wrap;
}

.cart-product-delete button {
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  outline: 0;
  border: 0;
}

.cart-pricing-details {
  background-color: #efefef;
}

.cart-pricing-details h2 {
  padding: 2rem;
  border-bottom: 1px solid #b3b3b3;
}

.cart-price-calculation {
  border-bottom: 1px solid #b3b3b3;
}

.cart-price-calculation div:not(:last-child) {
  margin-bottom: 0.8rem;
}

.cart-price-calculation,
.cart-pricing-total {
  padding: 2rem;
}

.cart-price-calculation div,
.cart-pricing-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

.cart-pricing-checkout {
  width: 100%;
  margin-top: 1.6rem;
}
