.featured-section {
  margin: 9.6rem 0;
}

.featured-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}

@media (max-width: 767px) {
  .featured-header {
    flex-direction: column;
    gap: 2.4rem;
  }
}

.featured-title {
  font-size: 4.2rem;
}

.featured-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}

@media (max-width: 991px) {
  .featured-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }
}

@media (max-width: 767px) {
  .featured-list {
    gap: 1.6rem;
  }
}

.featured-list img {
  height: 38rem;
  width: 100%;
  margin-bottom: 0.8rem;
  object-fit: cover;
}

@media (max-width: 767px) {
  .featured-list img {
    height: 36rem;
  }
}

.featured-item-title {
  display: block;
  font-size: 1.8rem;
  margin: 0.2rem 0;
}
