.categories-list-container {
  margin-top: 2.4rem;
}

@media (max-width: 991px) {
  .categories-list-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem 2rem;
    margin-bottom: 1.2rem;
  }
}

.categories-list-container > div {
  text-transform: capitalize;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

@media (max-width: 991px) {
  .categories-list-container > div {
    margin: 0;
  }
}

.categories-list-container > div.active {
  color: var(--primary-color);
}
