.nav-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #000;
}

.nav-content > svg {
  font-size: 2.4rem;
}

@media (min-width: 992px) {
  .nav-content > svg {
    display: none;
  }
}

.logo {
  font-size: 2.5rem;
}

.nav-items-container,
.nav-links,
.nav-icon-group {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

@media (min-width: 992px) {
  .nav-links-container {
    height: auto !important;
    box-shadow: none !important;
  }
}

@media (max-width: 991px) {
  .nav-links-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.45s;
    z-index: 999;
  }

  .nav-links {
    flex-direction: column;
    padding: 2rem;
    background-color: #f7f7f7;
  }
}

.nav-items-container {
  gap: 3.2rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-items-container svg {
  vertical-align: middle;
}

.nav-links li {
  list-style: none;
}

.nav-links a.active {
  color: var(--primary-color);
}

.wishlist,
.cart {
  position: relative;
}

.wishlist .wishlist-count,
.cart .cart-count {
  position: absolute;
  top: -0.4rem;
  right: -1rem;
  height: 1.8rem;
  width: 1.8rem;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
