.nav-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;
}

.nav-content > svg {
  font-size: 2.4rem;
}

@media (min-width: 992px) {
  .nav-content > svg {
    display: none;
  }
}

.logo {
  font-size: 2.5rem;
}

.logo h1 {
  font-weight: 700;
}

.nav-links,
.nav-icon-group {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.nav-links {
  gap: 2.8rem;
}

@media (min-width: 992px) {
  .nav-links-container {
    height: auto !important;
    box-shadow: none !important;
  }
}

@media (max-width: 991px) {
  .nav-links-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.45s;
    z-index: 999;
  }

  .nav-links {
    flex-direction: column;
    padding: 2rem;
    background-color: #f7f7f7;
  }
}

.nav-icon-group svg {
  font-size: 1.8rem;
  cursor: pointer;
  vertical-align: middle;
}

.nav-icon-group svg:hover,
.nav-icon-group svg:focus {
  color: var(--primary-color);
}

.nav-links li {
  font-size: 1.8rem;
  font-weight: 500;
  list-style: none;
}

.nav-links a.active {
  color: var(--primary-color);
}

@media (min-width: 576px) {
  .wishlist,
  .cart {
    position: relative;
  }
}

.wishlist-icon,
.cart-icon {
  position: relative;
}

.wishlist .wishlist-count,
.cart .cart-count {
  position: absolute;
  top: -1rem;
  right: -1rem;
  height: 1.8rem;
  width: 1.8rem;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
