.product-loader-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}

@media (max-width: 1199px) {
  .product-loader-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
  }
}

@media (max-width: 991px) {
  .product-loader-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.loader-item > * {
  position: relative;
  background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
  background-size: 200%;
  animation: skeleton 0.9s infinite;
}

@keyframes skeleton {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.loader-image {
  height: 44rem;
  width: 100%;
  margin-bottom: 1.2rem;
}

@media (max-width: 1199px) {
  .loader-image {
    height: 36rem;
  }
}

@media (max-width: 767px) {
  .loader-image {
    height: 28rem;
  }
}

.loader-title {
  height: 2rem;
  width: 70%;
}

.loader-price {
  height: 1.6rem;
  width: 30%;
  margin-top: 0.8rem;
}
