.site-footer-top {
  padding: 6rem 0;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.footer-top-details {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3.2rem;
}

@media (max-width: 1199px) {
  .footer-top-details {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 3.2rem;
  }
}

@media (max-width: 991px) {
  .footer-top-details {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 3.2rem;
  }
}

@media (max-width: 767px) {
  .footer-top-details {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}

.site-footer-logo {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.site-footer-title {
  font-size: 2.2rem;
  margin-bottom: 2.2rem;
}

.footer-link {
  list-style: none;
}

.footer-link a:not(:hover, :focus) {
  color: #555;
}

.footer-link:not(:last-child) {
  margin-bottom: 1rem;
}

.footer-contact-info {
  display: flex;
  gap: 1.2rem;
}

.contact-info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  height: 6rem;
  width: 6rem;
  color: #fff;
  background-color: #c6c6c6;
  border-radius: 50%;
}

.contact-info-details {
  flex: 1;
}

.contact-info-details span {
  display: block;
}

.info-details-number {
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 0.4rem;
}

.footer-address {
  margin-top: 1rem;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.footer-social-icons a {
  font-size: 1.8rem;
  line-height: 0;
}

.footer-bottom-details {
  padding: 4rem 0;
  text-align: center;
}

.payments-method {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.payments-method img {
  max-width: 8rem;
  border: 1px solid #cecece;
  padding: 0.6rem;
}
