.special-offer-container {
  margin: 12rem 0;
}

@media (max-width: 1199px) {
  .special-offer-container {
    margin: 8rem 0;
  }
}

@media (max-width: 991px) {
  .special-offer-container {
    margin: 6rem 0;
  }
}

@media (max-width: 575px) {
  .special-offer-container {
    margin: 4rem 0;
  }
}

.special-offer-image {
  overflow: hidden;
  line-height: 0;
}

.special-offer-image img {
  width: 100%;
  transform: scale(1);
  transition: 0.45s;
}

.special-offer-image:hover img,
.special-offer-image:focus img {
  transform: scale(1.1);
}
