* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unna", serif;
  font-weight: 500;
  line-height: 1.2;
}

.primary-btn {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border: 1px solid #000;
  transition: 0.4s;
}

.primary-btn:hover,
.primary-btn:focus {
  color: #fff;
  border-color: #ed3233;
}

.primary-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  background-color: #ed3233;
  z-index: -1;
  transition: 0.4s;
}

.primary-btn:hover::before,
.primary-btn:focus::before {
  width: 100%;
}

.wrapper {
  max-width: 114rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199px) {
  .wrapper {
    max-width: 96rem;
  }
}

@media (max-width: 991px) {
  .wrapper {
    max-width: 72rem;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 54rem;
  }
}

@media (max-width: 575px) {
  .wrapper {
    max-width: 100%;
  }
}

.column-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -2.4rem;
  margin-left: -2.4rem;
}

.column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.column-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

@media (max-width: 991px) {
  .column-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
