* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ed3233;
}

html {
  font-size: 62.5%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--primary-color) !important;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unna", serif;
  font-weight: 500;
  line-height: 1.2;
}

.primary-btn,
.secondary-btn {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  transition: 0.4s;
}

.primary-btn {
  color: #000;
  padding: 1.6rem 3.2rem;
  border: 1px solid #000;
}

.primary-btn:hover,
.primary-btn:focus {
  color: #fff !important;
  border-color: #ed3233;
}

.primary-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  background-color: var(--primary-color);
  z-index: -1;
  transition: 0.4s;
}

.primary-btn:hover::before,
.primary-btn:focus::before {
  width: 100%;
}

.secondary-btn {
  color: #fff;
  background-color: var(--primary-color);
  padding: 1.2rem 2rem;
  border: 0;
  cursor: pointer;
}

.secondary-btn:hover,
.secondary-btn:focus {
  color: #fff !important;
  background-color: #000;
}

.secondary-btn.outlined {
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
}

.secondary-btn.outlined:hover,
.secondary-btn.outlined:focus {
  color: #fff;
  background-color: #000;
}

.wrapper {
  max-width: 114rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199px) {
  .wrapper {
    max-width: 96rem;
  }
}

@media (max-width: 991px) {
  .wrapper {
    max-width: 72rem;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 54rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

@media (max-width: 575px) {
  .wrapper {
    max-width: 100%;
  }
}

.column-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -2.4rem;
  margin-left: -2.4rem;
}

@media (max-width: 767px) {
  .column-row {
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }
}

.column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

@media (max-width: 767px) {
  .column {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.column-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

@media (max-width: 991px) {
  .column-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.btn-group {
  display: flex;
  gap: 1.6rem;
  margin-top: 4rem;
}

.btn-group button {
  padding: 1.6rem 4rem;
}

.line-clamp {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-5 {
  -webkit-line-clamp: 5;
}

.product-price {
  font-size: 1.8rem;
  font-weight: 600;
}
