.single-product-container {
  display: flex;
  gap: 8rem;
  margin-top: 8rem;
}

@media (max-width: 1199px) {
  .single-product-container {
    gap: 4rem;
  }
}

@media (max-width: 991px) {
  .single-product-container {
    flex-wrap: wrap;
    margin-top: 4rem;
  }
}

.single-product-images {
  display: flex;
  gap: 3.2rem;
  width: auto;
}

@media (max-width: 991px) {
  .single-product-images {
    flex-direction: column-reverse;
    width: 100%;
  }
}

.single-product-images > img {
  height: 60rem;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .single-product-images > img {
    height: 48rem;
  }
}

@media (max-width: 991px) {
  .single-product-images > img {
    height: 40rem;
  }
}

.product-extra-images {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@media (max-width: 991px) {
  .product-extra-images {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
  }
}

.product-extra-images img {
  height: 8rem;
  width: 8.8rem;
  object-fit: cover;
  border: 1px solid transparent;
}

@media (min-width: 576px) and (max-width: 991px) {
  .product-extra-images img {
    height: 10rem;
    width: 12rem;
  }
}

.product-extra-images img.active {
  border-color: var(--primary-color);
}

.single-product-details {
  flex: 1;
}

@media (max-width: 991px) {
  .single-product-details {
    width: 100%;
  }
}

.product-detail-title {
  font-size: 4.8rem;
  margin-bottom: 1rem;
}

.product-detail-category {
  display: inline-block;
  margin-bottom: 1.6rem;
}

.product-detail-price {
  display: inline-block;
  font-size: 3.2rem;
  color: var(--primary-color);
  margin-top: 1.2rem;
}

.product-quantity {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 1.6rem;
}

.product-quantity form {
  display: flex;
  align-items: center;
}

.product-quantity form button {
  font-size: 2.5rem;
  height: 4rem;
  width: 4.8rem;
  background-color: transparent;
  cursor: pointer;
}

.product-quantity form button:hover,
.product-quantity form button:focus {
  background-color: #cecece;
}

.product-quantity form input {
  font-size: 2rem;
  height: 4rem;
  width: 8rem;
  border: 0;
  outline: 0;
  padding: 0.8rem;
  background-color: #e8e8e8;
  text-align: center;
}

.product-quantity form input::-webkit-outer-spin-button,
.product-quantity form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-quantity form input[type="number"] {
  -moz-appearance: textfield;
}
