.single-product-container {
  display: flex;
  gap: 4rem;
  margin-top: 12rem;
}

@media (max-width: 991px) {
  .single-product-container {
    flex-wrap: wrap;
  }
}

.single-product-images {
  width: 45%;
}

@media (max-width: 991px) {
  .single-product-images {
    width: 100%;
  }
}

.single-product-images > img {
  height: 60rem;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 575px) {
  .single-product-images > img {
    height: 48rem;
  }
}

.product-extra-images {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.2rem;
}

.product-extra-images img {
  flex: 1;
  height: 9.2rem;
  object-fit: cover;
  border: 1px solid transparent;
}

.product-extra-images img.active {
  border-color: var(--primary-color);
}

.single-product-details {
  width: calc(100% - 45% - 4rem);
}

@media (max-width: 991px) {
  .single-product-details {
    width: 100%;
  }
}

.product-detail-title {
  font-size: 4.8rem;
  margin-bottom: 1rem;
}

.product-detail-category {
  display: inline-block;
  margin-bottom: 1.6rem;
}

.product-detail-price {
  display: inline-block;
  font-size: 3.2rem;
  color: var(--primary-color);
  margin-top: 1.2rem;
}

.product-btn-group {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.product-btn-group button {
  padding: 1.6rem 4rem;
}
